.display-frame  {
    padding: 11px;
    border: 1px solid #D6D6D6;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px 3px #292929, 0 0 37px #D6D6D6 inset, 3px  3px  4px #292929 inset;
    max-width: 320px;
    max-height: 320px;
    float:left;
}

.controls-frame {
    padding: 5px;
    border: 1px solid #D6D6D6;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px 3px #292929, 0 0 27px #D6D6D6 inset, 3px  3px  4px #292929 inset;
    max-width: 100px;
    max-height: 320px;
    float:right;
    margin: 10px;
}
.controls {
    margin: 5px
}
.status-bar {
    padding: 5px;
    border: 1px solid #D6D6D6;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px 3px #292929, 0 0 27px #D6D6D6 inset, 3px  3px  4px #292929 inset;
    max-width: 320px;
    max-height: 40px;
    clear:both;
}


#top_bar {
    background-color: lightgray;
    height: 2em;
}

#left_panel {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width: 15em;
    background-color: gray;
    display: none;
}

#more_button {
    padding-top: 0.4em;
}

#options_button {
    float:right;
}

#play_button {
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 0.4em;
}

#buttons_panel {
    width: 2em;
    float:right;
}

#graph {
    z-index:0;
    margin-right:2em;
    height:50vh;
    width:300;
}

#trigger_panel {
    display: none;
}


input {
    width: 4em;
}