/* app css stylesheet */

body {
  padding-top: 20px;
}

#graph {
    height: 300px;
    margin-left: 13em;
    width: 80%;
}

#left-panel {
    position: absolute;
    top:0;
    left:0;
    z-index:10;
    width: 12em;
    background-color: gray;

}


.mytxt {
    width: 4em;
    margin: 0;
}

.ltbutton {
    padding: 0;
    margin: 0;
}

.source-controls {
    margin-top: 2em;
    width: 33%;
    display: inline-block;
}

.wheelbutton {
    height: 3em;
    width: 3em;
}

.midletter {
    display: inline-block;
    width: 1em;
    text-align: center;
}


