<!doctype html>
<html lang="en" ng-app="mscopeApp">

<head>
    <meta charset="utf-8">
    <title>MobileScope</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="lib/jquery/jquery-1.10.2.js"></script>
    <script src="lib/flot/jquery.flot.js"></script>
    <script src="lib/lodash/lodash.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-route.js"></script>

    <script src="js/app.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>

    <script src="js/signalPlugin/plugin.js"></script>
</head>

<body ng-controller="MScopeCtrl">

    <div class="container-fluid">
        <div class="row-fluid">

            Place for the top bar. {{voffset}}
        </div>

        <div class="row-fluid" style="position: relative">
            <div id="left-panel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button class="btn wheelbutton" ng-click="changeLogVal('trange', -1)">&lt;</button>
                        <span class="midletter">T</span>
                        <button class="btn wheelbutton" ng-click="changeLogVal('trange', 1)">&gt;</button>
                    </li>

                    <li class="list-group-item">
                        <button class="btn wheelbutton" ng-click="changeLogVal('vrange', 1)">&lt;</button>
                        <span class="midletter">G</span>
                        <button class="btn wheelbutton" ng-click="changeLogVal('vrange', -1)">&gt;</button>
                    </li>

                    <li class="list-group-item">
                        <button class="btn wheelbutton" ng-click="changRelVal('voffset', vrange / 20, -1)">&lt;</button>
                        <span class="midletter">O</span>
                        <button class="btn wheelbutton" ng-click="changRelVal('voffset', vrange / 20, 1)">&gt;</button>
                    </li>

                    <li class="list-group-item">
                        <button class="btn wheelbutton" ng-click="changRelVal('tcursor1', trange / 20, -1)">&lt;</button>
                        <span class="midletter">C</span>
                        <button class="btn wheelbutton" ng-click="changRelVal('tcursor1', trange / 20, 1)">&gt;</button>
                    </li>

                    <li class="list-group-item">
                        <button class="btn wheelbutton" ng-click="changRelVal('tcursor2', trange / 20, -1)">&lt;</button>
                        <span class="midletter">C</span>
                        <button class="btn wheelbutton" ng-click="changRelVal('tcursor2', trange / 20, 1)">&gt;</button>
                    </li>


                    <li class="list-group-item">
                        <button class="btn" ng-click="playPause()">
                            <i class="glyphicon glyphicon-{{isPlaying?'pause':'play'}}"></i>
                        </button>
                        <button class="btn" ng-click="nextFrame()">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div id="graph"></div>
        </div>
        <div class="source-controls">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3> Simulated source </h3>
                </li>
                <li class="list-group-item">

                    Waveform:
                    <select name="waveform" ng-model="signalOptions.waveform">
                        <option value="Sine" selected>Sine</option>
                        <option value="Triangle">Triangle</option>
                        <option value="Square">Square</option>
                        <option value="Unity">Unity</option>
                        <option value="Random">Random</option>
                    </select>
                </li>
                <li class="list-group-item">
                    Mode:
                    <select name="mode" ng-model="signalOptions.mode">
                        <option value="Wave">Wave</option>
                        <option value="Stream" selected>Stream</option>
                    </select>
                </li>
                <li class="list-group-item">
                    Timeslice
                    <input type="text" ng-model="signalOptions.timeslice" value="0.001">
                </li>
            </ul>
        </div>

        <div class="source-controls">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3> Audio source </h3>
                </li>
                <li class="list-group-item">
                    Channel:
                    <input type="radio" name="channel" value="Left" ng-model="audioOptions.channel">
                    <input type="radio" name="channel" value="Right" ng-model="audioOptions.channel">
                    {{audioOptions.channel}}

                </li>
                <li class="list-group-item">
                    Gain
                    <input type="text" ng-model="audioOptions.gain">
                </li>
                <li class="list-group-item">
                    Timeslice
                    <input type="text" ng-model="audioOptions.timeslice">
                </li>
            </ul>
        </div>
    </div>

</body>

</html>
