<!doctype html>
<html lang="en" ng-app="mscopeApp">

<head>
    <meta charset="utf-8">
    <title>MobileScope</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="lib/jquery/jquery-1.10.2.js"></script>
    <script src="lib/flot/jquery.flot.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-route.js"></script>

    <script src="js/app.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>

    <script src="js/signalPlugin/plugin.js"></script>
</head>

<body ng-controller="MScopeCtrl">

    <div class="container-fluid">
        <div class="row-fluid">

            Place for the top bar.
        </div>

        <div class="row-fluid" style="position: relative">
            <div id="left_panel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button class="btn" ng-click="trange = trange / 2">&lt;</button>
                        <input class="mytxt" type="text" ng-model="trange">
                        <button class="btn" ng-click="trange = trange * 2">&gt;</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn" ng-click="ymin = ymin - 1">&lt;</button>
                        <input class="mytxt" type="text" ng-model="ymin">
                        <button class="btn" ng-click="ymin = ymin + 1">&gt;</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn" ng-click="ymax = ymax-1">&lt;</button>
                        <input class="mytxt" type="text" ng-model="ymax">
                        <button class="btn" ng-click="ymax = ymax + 1">&gt;</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn" ng-click="tcursor1 = tcursor1 - trange/20">&lt;</button>
                        <input class="mytxt" type="text" ng-model="tcursor1">
                        <button class="btn" ng-click="tcursor1 = tcursor1 - trange/20">&gt;</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn" ng-click="playPause()">
                            <i class="icon-play"></i>Play
                        </button>
                        <button class="btn" ng-click="redrawPlot()"> Redraw </button>
                    </li>
                </ul>
            </div>
            <div id="graph"></div>
        </div>
    </div>

</body>

</html>
